<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDoQT6weo21gTi1pSk4eBD0fRUHGbYJ0rE</string>
	<key>GCM_SENDER_ID</key>
	<string>342597558678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DavudGunduz.InstaSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>instaswiftui-cdca3</string>
	<key>STORAGE_BUCKET</key>
	<string>instaswiftui-cdca3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342597558678:ios:97fa163a991b12d7a8fdb7</string>
</dict>
</plist>